<h1>Update Post...</h1>
		<br/><br/>

		<div class="form-group">
			<form method="POST">
				{% csrf_token %}
				{{ form.media }}
				{{ form.as_p }}
				<button class="btn btn-secondary">Update</button>
		</div>